*{
    padding: 50;
    margin: 50;  
}
body{
    background-color: seashell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.my-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    text-align: center;
}
nav{
    width: 100%;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    border-bottom: 5px solid black;
}
nav ul li{
    color: seashell;
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    margin: 10px;
}
nav ul li a{
    color: seashell;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:visited{
    text-decoration-line: underline;
}
nav ul li a:hover{
    color: lightblue;
    transition: .4s;
    text-decoration-line: underline;
}
.name{
    color: slategray;
    font-size: 55px;
    text-align: center;
}
h2{
    color: slategray;
    text-decoration: underline;
}
h3{
    color: slategray;
    margin-bottom: 30px;
}
p{
    color: slategray
}
.intro{
    text-align: center;
}
.service{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: slategray;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    align-items: center;
    table-layout: fixed;
}
table th{
    text-align: center;
    height: 70px;
    color: slategray;
    font-size: 20px;
}
table td{
    color: slategray;
    font-size: 20px;
}
button{
    border: solid;
    width: 50%;
    color:slategray;
    border-radius: 8px;
    background-color: white;
    transition-duration: 0.4s;
    font-size: large;
    margin: 70px;
    cursor: pointer;
}
button:hover{
    background-color: grey;
    color: seashell;
    transition-duration: 0.4s;
}
.contact h2{
    text-align: center;
    list-style: none;
    font-size: 25px;
    text-decoration: underline seashell;
}
.contact{
    text-align: center;
    color: seashell;
}
.contact ul{
    list-style: none;
}
footer{
    background-color: slategray;
    width: 100%;
    color: seashell;
    text-align: center;
    border-top: 5px solid black;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background: #125688;
    color: white;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.end{
    color: seashell;
}
